# Ignore target folder (build output)
target/

# Ignore IntelliJ IDEA project files
*.iml
.idea/

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore VSCode settings
.vscode/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
